<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.airbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:icon="@drawable/favicon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".activity.LoginActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.LoadingActivity" />
         <activity android:name=".activity.FriendListActivity" />
         <activity android:name=".activity.FriendInfoActivity" />
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE"/>    
    <uses-permission android:name="android.permission.INTERNET"/>    
        
</manifest>
